<html>
	<head>
		<!--Custom Style Sheet -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/removalconfirmation.css' %}">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>
	<body>
		
	<!-- Start Modal HTML Code--> 
	<div id="data-request-modal" class="modal">
	 
	  <div class="modal-content-datareq">
	  	 <!-- Title -->
	    <p class="consenttitle"><strong><i class="fa fa-lock"></i> RGPD Demande de Suppression</strong></p>
	    <hr class="titleline">

			<!-- Content -->
	    <div class="consenttext">
	    	<p class="consentsubtitle">Merci</p>
			  <p class="consentsubtitle">Vos données personnelles seront supprimées dans les plus brefs délais</p>
	    </div>
	  
	  </div> <!--modal-content -->

	</div>
</body>
</html>
