static/stylesheets/* linguist-vendored
templates/404.html linguist-vendored
templates/422.html linguist-vendored
templates/500.html linguist-vendored
templates/base.html linguist-vendored
templates/emailtemplates/* linguist-vendored
templates/installer/* linguist-vendored
templates/scripttag_src/* linguist-vendored
templates/pdf_report_template.html linguist-vendored
