<!-- NavBar -->
	<div>
   	<nav class="ui-tertiary-navigation">
			<div class="ui-tertiary-navigation__container">
				<ul class="ui-tertiary-navigation__linklist">

					<li role="presentation" class="ui-tertiary-navigation__linklist-item"><a href="/home/" class="ui-tertiary-navigation__link {{active_home}}" aria-label="" data-polaris-unstyled="true" data-order="0">Home</a></li>

					<li role="presentation" class="ui-tertiary-navigation__linklist-item"><a href="/auditlog/" class="ui-tertiary-navigation__link {{ active_audit }}" aria-label="" data-polaris-unstyled="true" data-order="1">Audit Logs</a></li>

					<li role="presentation" class="ui-tertiary-navigation__linklist-item"><a href="/settings/" class="ui-tertiary-navigation__link {{ active_settings }}" aria-label="" data-polaris-unstyled="true" data-order="2">Setup Wizard</a></li>

					<li role="presentation" class="ui-tertiary-navigation__linklist-item"><a href="/custpopup/" class="ui-tertiary-navigation__link {{ active_customize }}" aria-label="" data-polaris-unstyled="true" data-order="2">Customize Data Policy Notice</a></li>

					<li role="presentation" class="ui-tertiary-navigation__linklist-item"><a href="/faq/" class="ui-tertiary-navigation__link {{ active_faq }}" aria-label="" data-polaris-unstyled="true" data-order="2">FAQ</a></li>

					<li role="presentation" class="ui-tertiary-navigation__linklist-item"><a href="/advancedsettings/" class="ui-tertiary-navigation__link {{ active_advanced }}" aria-label="" data-polaris-unstyled="true" data-order="2">Advanced Settings</a></li>

				</ul>
			</div>
		</nav>
	</div>
